<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Patrimônio</title>
    <link rel="stylesheet" href="/style/cp.css">
</head>
<body>

<header class="site-header">
    <h1 class="site-header__title">
        Cadastro de Patrimônio</h1>
</header>

<div class="main-content">
    <form action="/cadastrarPatrimonio" method="post" th:object="${patrimonio}">
        <div>
            <label for="descri">Descrição:</label>
            <input type="text" id="descri" name="descri" th:field="*{descri}">
        </div>
        <div>
            <label for="valorPatri">Valor:</label>
            <input type="text" id="valorPatri" name="valorPatri" th:field="*{valorPatri}">
        </div>
        <div>
            <label for="dataAqc">Data de Aquisição:</label>
            <input type="date" id="dataAqc" name="dataAqc" th:field="*{dataAqc}">
        </div>
        <div>
            <label for="status">Status:</label>
            <input type="text" id="status" name="status" th:field="*{status}">
        </div>
        <div>
            <label for="func">Funcionário:</label>
            <select id="func" name="func.idFunc" th:field="*{func.idFunc}">
                <option th:each="funcionario : ${funcionarios}"
                        th:value="${funcionario.idFunc}"
                        th:text="${funcionario.nome}"></option>
            </select>
        </div>
        <button type="submit">Cadastrar Patrimônio</button>
    </form>
</div>

</body>
</html>
