<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Funcionários</title>
    <link rel="stylesheet" href="/style/lfstylein.css">
</head>
<body>
    <nav>
        <div class="container">
            <img class="logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEmhaEK0AahY6v7bsr8h61jxmKMol_EbpZag&s" alt="">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Contato</a></li>
                <li><a href="#">Sobre</a></li>
            </ul>
        </div>
    </nav>
    <header class="site-header">
        <h1 class="site-header__title">Lista de Funcionários</h1>
    </header>

    <div class="main-content">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Cargo</th>
                    <th>CPF</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="funcionario : ${funcionarios}">
                    <td th:text="${funcionario.idFunc}"></td>
                    <td th:text="${funcionario.nome}"></td>
                    <td th:text="${funcionario.cargo}"></td>
                    <td th:text="${funcionario.cpf}"></td>
                    <td th:text="${funcionario.email}"></td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>
