<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Patrimônios</title>
    <link rel="stylesheet" href="/style/cp.css">
</head>
<body>

<header class="site-header">
    <h1 class="site-header__title">Lista de Patrimônios</h1>
</header>

<div class="main-content">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Descrição</th>
                <th>Valor</th>
                <th>Data de Aquisição</th>
                <th>Status</th>
                <th>Funcionário</th>
            </tr>
        </thead>
        <tbody>
            <!-- Iteração sobre a lista de patrimônios -->
            <tr th:each="patrimonio : ${patrimonios}">
                <td th:text="${patrimonio.idPatri}"></td>
                <td th:text="${patrimonio.descri}"></td>
                <td th:text="${patrimonio.valorPatri}"></td>
                <td th:text="${patrimonio.dataAqc}"></td>
                <td th:text="${patrimonio.status}"></td>
                <td th:text="${patrimonio.func.nome}"></td>
            </tr>
        </tbody>
    </table>
</div>

</body>
</html>
