<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Patrimônios</title>
    <link rel="stylesheet" href="/style/tablestyle.css">
</head>
<body>

    <header class="site-header">
        <h1 class="site-header__title">Lista de Patrimônios</h1>
    </header>

    <div class="main-content">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Descrição</th>
                    <th>Valor</th>
                    <!-- Adicione outras colunas conforme necessário -->
                </tr>
            </thead>
            <tbody>
                <tr th:each="patrimonio : ${patrimonios}">
                    <td th:text="${patrimonio.id}"></td>
                    <td th:text="${patrimonio.descricao}"></td>
                    <td th:text="${patrimonio.valor}"></td>
                    <!-- Adicione outras colunas conforme necessário -->
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>
