<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/sucastyle.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
</head>
<body>

    <header class="site-header" id="header">
    
    <h1 class="site-header__title" data-lead-id="site-header-title">Cadastro de Funcionário Realizado com Sucesso!</h1>
    
    </header>
    
    <div class="main-content">
    
    <i class="fa fa-check main-content__checkmark" id="checkmark" ></i>
    
    <a href="/"> <p class="main-content__body" data-lead-id="main-content-body">Voltar a Página Principal</p></a>
    
    </div>
    
    
</body>
</html>